<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<!-- BEGIN HEAD -->
<head th:replace="layouts/default :: head">
<!-- END HEAD -->
</head>
<body th:fragment="body-panel" class="nav-md">
	<!-- BEGIN BODY -->
	<div class="container body">
		<!-- BEGIN CONTAINER -->
		<div class="main_container">
			<!-- BEIGN LEFT PANEL -->
			<div th:replace="layouts/default :: left-panel">
				<!-- LEFT PANEL -->
			</div>
			<!-- END LEFT PANEL -->
			<!-- BEGIN TOP NAVIGATION -->
			<div th:replace="layouts/default :: top-nav">
				<!-- TOP NAV -->
			</div>
			<!-- END TOP NAVIGATION -->
			<!-- BEGIN MAIN -->
			<div id="body-panel-container" th:fragment="body-panel-container"
				class="right_col" role="main" th:inline="text">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<!-- BEGIN CONDING HERE -->

						<div class="page-title">
							<div class="title_left">
								<h3>
									<i class="fa fa-money"></i> [[#{modulo.recaudos.titulo}]]
								</h3>
							</div>
						</div>

						<div th:substituteby="tags/util/messages :: messages"
							th:remove="tag">MESSAGES</div>
						<!-- BEGIN CONDING HERE -->

						<div class="clearfix"></div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_title" th:inline="text">
										<h2 th:inline="text">[[#{modulo.recaudos.listarecaudos.table.titulo}]]</h2>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">


									</div>
								</div>
							</div>
						</div>
						<!-- BEGIN CONDING HERE -->
					</div>
				</div>
				<!-- END TEMPLATE PAGE -->
				<!-- BEGIN FOOTER -->
				<footer th:replace="layouts/default :: footer"></footer>
			</div>
			<!-- END MAIN -->
		</div>
	</div>

	<!-- END BODY -->
	<script type="text/javascript" th:replace="layouts/default :: scripts"></script>
	<!-- PAGE SCRIPTS HERE -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			require([ 'modules/solicitudes/solicitudes' ], function(Solicitud) {
				Solicitud.initForm();
				Matrix.initAjax();
			});
		});
		/*]]>*/
	</script>
</body>
</html>