<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<!-- BEGIN HEAD -->
<head th:replace="layouts/default :: head">
<!-- END HEAD -->
</head>
<body th:fragment="body-panel" class="nav-md">
	<!-- BEGIN BODY -->
	<div class="container body">
		<!-- BEGIN CONTAINER -->
		<div class="main_container">
			<!-- BEIGN LEFT PANEL -->
			<div th:replace="layouts/default :: left-panel">
				<!-- LEFT PANEL -->
			</div>
			<!-- END LEFT PANEL -->
			<!-- BEGIN TOP NAVIGATION -->
			<div th:replace="layouts/default :: top-nav">
				<!-- TOP NAV -->
			</div>
			<!-- END TOP NAVIGATION -->
			<!-- BEGIN MAIN -->
			<div id="body-panel-container" th:fragment="body-panel-container"
				class="right_col" role="main" th:inline="text">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<!-- BEGIN CONDING HERE -->

						<div class="page-title">
							<div class="title_left">
								<h3>
									<i class="fa fa-money"></i> [[#{modulo.admin.noticias.titulo}]]
								</h3>
							</div>
						</div>

						<div th:substituteby="tags/util/messages :: messages"
							th:remove="tag">MESSAGES</div>
						<!-- BEGIN CONDING HERE -->

						<div class="clearfix"></div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_title" th:inline="text">
										<h2 th:inline="text">[[#{modulo.admin.noticias.titulo}]]</h2>

										<a class="btn btn-primary pull-right" data-toggle="modal"
											data-target="#modalFilterRec"><i class="fa fa-search"></i>
											[[#{label.buscar}]]</a>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
										<table id="table_recaudos"
											class="table table-striped responsive-utilities jambo_table">
											<thead>
												<tr class="headings">
													<th></th>
													<th
														th:text="#{modulo.admin.noticias.listanoticias.table.columna.titulo.titulo}"></th>
													<th
														th:text="#{modulo.admin.noticias.listanoticias.table.columna.descripcionnoticia.titulo}"></th>
													<th
														th:text="#{modulo.admin.noticias.listanoticias.table.columna.fecha.titulo}"></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="noticia : ${noticias}" class="even pointer">
													<td><a th:href="@{/noticia/}+''+${noticia.id}" class="flat actualizar-referencia btn btn-primary btn-sm"
														th:title="#{label.editar}"><i class="fa fa-edit"></i>
													</a></td>
													<td th:text="${noticia.tituloNoticia}"></td>
													<td th:text="${noticia.descripcionNoticia}"></td>
													<td th:text="${noticia.fechaRegistro}"></td>
												</tr>
											</tbody>
										</table>

									</div>
								</div>
							</div>
						</div>
						<!-- BEGIN CONDING HERE -->
					</div>
				</div>
				<!-- END TEMPLATE PAGE -->
				<!-- BEGIN FOOTER -->
				<footer th:replace="layouts/default :: footer"></footer>
			</div>
			<!-- END MAIN -->
		</div>
	</div>

	<!-- END BODY -->
	<script type="text/javascript" th:replace="layouts/default :: scripts"></script>
	<!-- PAGE SCRIPTS HERE -->
	<script type="text/javascript"
		th:src="@{/js/modules/recaudos/recaudos.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			Recaudos.initTable({
				
			});
		
			Recaudos.initFilterModal({
				url: {
					conveniosPorEmpresa: /*[[@{/recaudos/buscar/empresa}]]*/
				}
			});
		});
		/*]]>*/
	</script>
</body>
</html>